
  
  #p1{
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
  }
  
  #one, #two, #three, #four, #five, #six{
      text-align: right;
    }
    
    #hahaha{
      text-align: right;
    }
    
    nav{
      background-color: #f5f5dce1;
      box-shadow: 0px 4px 65px #9e001d;
      position: sticky;
      top: 0;
      z-index: 1000;
    }
    #offcanvasDarkNavbar{
      background-color: rgb(231, 196, 255);
    }
    
    #home1, #contact1, #skills1, #projects1, #gallery1, #about1, #nama{
      color: black;
    }
    
    #about1:hover{
      color: blue;
      text-decoration: underline;
    }
    
    #home1:hover{
      color: blue;
      text-decoration: underline;
    }
    
    #projects1:hover{
      color: blue;
      text-decoration: underline;
    }
    
    #skills1:hover{
      color: blue;
      text-decoration: underline;
    }
    
    #gallery1:hover{
      color: blue;
      text-decoration: underline;
    }
    
    #contact1:hover{
      color: blue;
      text-decoration: underline;
    }
    
    #nama:hover{
      color: blue;
      text-decoration: underline;
    }
  
  #carouselhead{
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    color: crimson;
    text-align: center;
  }
  
  footer{
      width: 100%;
      height: 25px;
      background-color: gainsboro;
      color: black;
      text-align: center;
      bottom: 0;
      left: 0;
      position: fixed;
      left: 0rem;
      bottom: 0rem;
      text-transform: capitalize;
  }
  
  footer p{
      margin: 10px 0px;
      font-weight: lighter;
      font-size: small;
  }
  
  #navbar-example2{
      background-color: #bd8e89;
  }
  
  #p1{
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: pink;
  }
  
  footer{
    width: 100%;
    height: 25px;
    background-color: gainsboro;
    color: black;
    text-align: center;
    bottom: 0;
    left: 0;
    position: fixed;
    left: 0rem;
    bottom: 0rem;
  }

body {
  background: linear-gradient(
      135deg,
      #1a1a1a,
      #0d0d0d,
      #1f1f1f,
      #0a0a0a,
      #1c1c1c
  );
  background-size: 400% 400%;
  animation: metallicLook 3.7s ease-in-out infinite;
  color: #f5f5f5;
  margin: 0;
  padding: 0;
}

@keyframes metallicLook {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


