.card:hover{
    box-shadow: 0px 5px 20px rgb(255, 255, 255);
}



#contanar{
    padding: 20px 15px;
}
 
#one, #two, #three, #four, #five, #six{
    text-align: right;
  }
  
  #hahaha{
    text-align: right;
  }
  
  nav{
    background-color: #5d002a;
    box-shadow: 0px 2px 15px black;
  }
  #offcanvasDarkNavbar{
    background-color: rgb(231, 196, 255);
  }
  
  #home1, #contact1, #skills1, #projects1, #gallery1, #about1, #nama{
    color: black;
    text-align: center;
      text-shadow:
    0 0 5px #8b8241,
    0 0 10px #a79100,
    0 0 20px #ffa600,
    0 0 40px #614611;
          font-family: "JetBrains Mono", monospace;
  }
  
  #about1:hover{
    color: blue;
    text-decoration: underline;
  }
  
  #home1:hover{
    color: blue;
    text-decoration: underline;
  }
  
  #projects1:hover{
    color: blue;
    text-decoration: underline;
  }
  
  #skills1:hover{
    color: blue;
    text-decoration: underline;
  }
  
  #gallery1:hover{
    color: blue;
    text-decoration: underline;
  }
  
  #contact1:hover{
    color: blue;
    text-decoration: underline;
  }
  
  #nama:hover{
    color: blue;
    text-decoration: underline;
  }

  footer{
    width: 100%;
    height: 25px;
    background-color: gainsboro;
    color: black;
    text-align: center;
    bottom: 0;
    left: 0;
    position: fixed;
    left: 0rem;
    bottom: 0rem;
}

#card1, #card2, #card3, #card4, #card5, #card5, #card6, #card7, #card8, #card9{
  margin: 10px;
}

#head1{
    font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 80px;
      text-shadow:
    0 0 5px #b8a93d,
    0 0 10px #473e04,
    0 0 20px #ffa600,
    0 0 40px #614611;
    color: rgb(255, 255, 255);
}

#hi{
  text-align: center;
    font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
    text-shadow:
    0 0 5px #8b8241,
    0 0 10px #a79100,
    0 0 20px #ffa600,
    0 0 40px #614611;
    text-align: center;
}

.card-title{
  text-align: center;
}

.card-text{
  text-align: center;
}

body {
  background: linear-gradient(
      135deg,
      #1a1a1a,
      #0d0d0d,
      #1f1f1f,
      #0a0a0a,
      #1c1c1c
  );
  background-size: 400% 400%;
  animation: metallicLook 3.7s ease-in-out infinite;
  color: #f5f5f5;
  margin: 0;
  padding: 0;
}

@keyframes metallicLook {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.card{
  text-align: center;
}
